@model List<Passion_Project.Models.poetry>
@{
    ViewBag.Title = "List";
}

<h2>Poetries List</h2>
<div class="navbar">
    <a href="/Poetries/Add">Add New</a>
</div>

<div class="tilecontainer">
    @{
        foreach (var Poetries in @Model)
        {

            <div class="listitem">
                <a href="/Poetries/Show/@Poetries.poetryID">@Poetries.poetryName</a>
                <a class="cta" href="/Poetries/Update/@Poetries.poetryID">Update</a>
            </div>
        }
    }
</div>

