
@model Passion_Project.Models.poetry
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<div class="navbar">
    <a class="navlink" href="/Poetries/List">Back to List</a>
    <a class="navlink" href="/Poetries/Update/@Model.poetryID">Update</a>
    <a class="navlink" href="/Poetries/DeleteConfirm/@Model.poetryID">Delete</a>
</div>
<div>
    <span>Name : </span>@Model.poetryName<br />
    <span>Date</span>@Model.poetryDate<br />
    <span>Description:</span>@Model.poetryDescription<br/>
    
</div>

