@model List<Passion_Project.Models.Artist>
@{
    ViewBag.Title = "List";
}

<h2>Artists List</h2>
<div class="navbar">
    <a href="/Artist/Add">Add New</a>
</div>

<div class="tilecontainer">
    @{
        foreach (var Artists in @Model)
        {

            <div class="listitem">
                <a href="/Artist/Show/@Artists.ArtistID">@Artists.ArtistName</a>
                <a class="cta" href="/Artist/Update/@Artists.ArtistID">Update</a>
            </div>
        }
    }
</div>

